body{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.single_report{
    border-style: solid;
    width: 200px;
    height: 100px;
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.defaultbg{
    background-color: #17335C;
    border-radius: 18px;
    width: 850px;
    
}
.display{
    background-color: #fffcfc;
    border-radius: 18px;
    width: 790px;
    padding-left: 30px;
    margin-bottom: 20px;
    
}
.list{
    width: 335px;
    margin-top: 20px;
    color: #d4d4d4;
}
.navigation_pannel{
    border: solid;
    box-align: left;
    float: left;
}
.main{
    width: 75%;
    float: right;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.topic{
    color: #d4d4d4;
    font-size: 28px;
}
.reoprt{
    position: absolute;
    margin-top: 20px;
}

#notification{
    padding-left: 30px;
}
#left_pannel{
    padding-left: 30px;
}

#right_pannel{
    padding-left: 30px;
}
#logo{
    float:right;
    width: 127px;
    height: 47px;
}