
body {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #C4C4C4;
  transition: all 0.5s ease;
}

.sidebar img {
  height: 80px;
  width: 100%;
}

.sidebar .nav-links{
  margin-top: 10px;
}

.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-links li a{
  padding: 15px 8px 15px 2px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #17335C;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #a09d9d;
}
.sidebar .nav-links li a:hover{
  background: #a09d9d;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #17335C;
}
.sidebar .nav-links li a .links_name{
  font-size: 18px;
  font-weight: 500;
  color: #17335C;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    position: fixed;
    width: 240px;
    height: 100%;
    background: #C4C4C4;
    transition: all 0.5s ease;
    overflow: auto;
}

.sidebar img {
    height: 80px;
    width: 100%;
}

.sidebar ul {
    background: #C4C4C4;
    list-style: none;
}

.sidebar ul li {
    line-height: 60px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar ul li a {
    position: relative;
    color: #17335C;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

.sidebar ul li.active a {
    color: #fffafa;
    background: #122747;
    border-left-color: #fffafa;
}

.sidebar ul li a:hover {
    background: #122747;
    color: #fffafa;
}

.sidebar ul ul {
    position: static;
    display: none;
}

.sidebar ul .feat-show.show {
    display: block;
}

.sidebar ul .cust-show.show1 {
    display: block;
}

.sidebar ul .fac-show.show2 {
    display: block;
}

.sidebar ul .prof-show.show3 {
    display: block;
}

.sidebar ul ul li {
    line-height: 42px;
    border-top: none;
}

.sidebar ul ul li a {
    font-size: 17px;
    padding-left: 80px;
}

nav ul li.active ul li a {
    color: #122747;
    background: #979797;
    border-left-color: transparent;
}

nav ul ul li a:hover {
    color: #C4C4C4!important;
    background: #07101d!important;
}

.sidebar ul ul li a:active {
    color: #C4C4C4!important;
    background: #07101d!important;
}

.sidebar ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

.sidebar .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;

}