body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    width: 25%;
    margin: 25px 170px;
  }
  
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #C4C4C4;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav img {
    height: 100px;
    width: 100%;
    
  }
  
  .sidenav a {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    
    color: #17335C;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .side_nav_title {
    font-size: 25px;
    color:#17335C;
    font-weight: 500;
    padding-left: 60px;
  }
  
  .log_out {
    padding: 210px 8px 15px 16px;
  }

  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }