.home-section{
    position: absolute;
    /*background: #17335C;*/
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
  }

.home-section .form_box{
    margin-left: 300px;
    background: #0F305B;
    border-radius: 18px;
    align-items: left;
    width: 500px;
    padding: 40px;
} 

.form_title{
    font-size: 30px;
    color:#FEFDFB;
    font-weight: 700;
    padding-top: 2%;
    margin-left: 5%;
}
.home-section .form_body .form_box .form_title{
    text-align: center;
    padding-top: 1%;
}
.home-section .form_body .form_box{
    padding-top: 2%;
    margin-top: 5%;
}
input[type=date], select ,input[type=int], input[type=password] {
    width:70%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 7px;
    background: #f1f1f1;
}

label {
    display: inline-block;
    font-size: 15px;
    width: 100px;
    color: #E5E5E5;
}

.submit_btn{
    width:150px;
    height: 35px;
    font-size: 15px;
    background-color: #d4d4d4;
    border-radius: 25px;
}
.go_back {
    width: 25ppx;
    height: 25px;
    text-align: right;
    margin-right: 30px;
    margin-top: 2%;
}
.add_btn{
    width:150px;
    height: 35px;
    font-size: 15px;
    background-color: #0F305B;
    border-radius: 5px;
    float: right;
    margin-right: 5%;
    color: #f1f1f1;
    border:none;
}
