/* * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #ffffff;
} */

.c-item1 {
    grid-area: slots;
    margin-top: 15%;
}

.c-item2 {
    grid-area: form;
    margin-top: 4%;
}

.c-grid-container {
    display: grid;
    grid-template-areas: 'slots form';
    grid-gap: 10px;
    padding: 10px;
    height: 600px;
}

.row {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-row-gap: 8px;
    margin-top: 10px;
    margin-left: 25px;
}

.text-center {
    text-align: center;
    margin-bottom: 5px;
    color: #0F305B;
    ;
}

.slot {
    background-color: #0F305B;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
    font-weight: 350;
    border: none;
    padding: 5px;
    text-decoration: none;
    width: 150px;
}

input[type=text],
input[type=password],
input[type=email],
textarea,
select {
    width: 400px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border-radius: 2%;
    background: #f1f1f1;
    color: #0F305B;
}

input[type=text]:focus,
input[type=password]:focus textarea:focus,
select:focus {
    background-color: #ddd;
    outline: none;
}

.btn-primary2 {
    appearance: none;
    background-color: #0F305B;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
}

.calendar {
    height: max-content;
    /* background-color: #d4d4d4; */
    max-width: 80%;
    border-radius: 30px;
    padding-left: 3%;
    padding: 40px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-style: solid;
    border-color: #0F305B;
    /* transform: scale(1.25); */
}

label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F305B;
}

.modal-container {
    padding: 20px;
    border-radius: .8rem;
    /* color: var(--light); */
    background: #fff;
    box-shadow: .2rem .2rem 1rem .2rem #17335C;
    position: relative;
    overflow-y: auto;
    top: 0;
    width: 80%;
    height: max-content;
    align-content: center;
    margin-top: -1%;
}

.form-header {
    font-size: 22px;
    text-align: center;
    color: #dfdfdf;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
    background-color: #0F305B;
    border-radius: 10px;
}

.form-footer {
    background-color: #0F305B;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: right;
    border-top: 1px solid #cccccc;
    clear: both;
}

.form_btn {
    background-color: #FEFDFB;
    color: #000000;
    /* border-radius: 18px; */
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    font-weight: 600;
}

.form-body {
    color: #666;
    margin-left: 7%;
    margin-right: 5%;
    width: 90%;
}


/* .fslots {
    margin-left: 40px;
} */