body {
  width: 25%;
  margin: 25px 170px;
}

* {
  box-sizing: border-box;
} 

.form_box { 
  margin-left: 350px;
  position: relative;
  background: #0F305B;
  border-radius: 18px;
  align-items: center;
  width: 500px;
  padding-bottom: 20px;
}

.form_body {
  padding: 40px;
  width: 100%; 
}

.form_title{
  font-size: 30px;
  text-align: center;
  color:#FEFDFB;
  font-weight: 700;
}

input[type=text], input[type=password] {
  width:70%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  border-radius: 7px;
  background: #f1f1f1;
}

label {
  display: inline-block;
  font-size: 15px;
  width: 100px;
  color: #E5E5E5;
}

.submit_btn{
  width:188px;
  height: 50px;
  background-color: #d4d4d4;
  border-radius: 25px;
  align-content:center;
}