* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Change your font family */
}

.home-section-table {
    position: relative;
    min-height: 100vh;
    width: calc(100% - 340px);
    left: 340px;
    transition: all 0.5s ease;
}

.table_view {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    width: 90%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table_view thead tr {
    background-color: #0F305B;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.table_view th,
.table_view td {
    padding: 12px 15px;
}

.table_view td {
    color: #0F305B;
}

.table_view tbody tr {
    border-bottom: 1px solid #C4C4C4;
    background-color: #FEFDFB;
}

.table_view tbody tr:nth-of-type(even) {
    background-color: #E0E0E0;
}

.table_topic {
    color: #0F305B;
}

.button {
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
}

.table_view tbody tr td select {
    width: 100px;
    height: 25px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    background-color: #FEFDFB;
    text-decoration: #0F305B;
    margin: 0;
    padding: 0;
}

.table_view tbody tr td select:nth-of-type(even) {
    background-color: #E0E0E0;
    text-decoration: #0F305B;
    margin: 0;
    padding: 0;
}